extends layout
block content
    div

        div(ng-view)


    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='bower_components/angular/angular.min.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='bower_components/angular-route/angular-route.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='bower_components/angular-socket-io/socket.min.js')
    script(src='https://www.youtube.com/iframe_api')
    script(src='bower_components/angular-youtube-mb/src/angular-youtube-embed.js')
    script(src='javascript/core.js')
    script(src='javascript/services.js')
    script(src='javascript/controllers.js')